* {
    box-sizing: border-box;
  }

  

  body {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      background-color: rgb(233, 233, 233);
  }


  .header {
      text-align: center;
  }

  .balance-left {
      text-align: center;
  }

  .balance-left  p {
      margin-top: 10px;
      background-color: white;
      padding: 10px;
      box-shadow:-1px -1px 4px #bebebe inset;
      border-radius: 10px;
  }

  .balance-amount-container, .income-amount-container, .expense-amount-container {
    border-top: 1px solid #bebebe;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .transaction-history-container {
    margin-left: -45px;
    padding-top: 10px;
  }
  
  .history h2 {
      border-bottom: 1px #bebebe solid;
      padding-bottom: 10px;
  }

  .transaction-form-container {
    margin-left: -6px;
    padding-top: 10px;
  }

  .transaction-form-container h2 {
      border-bottom: 1px #bebebe solid;
      padding-bottom: 10px;
  }

  li {
    list-style: none;
    padding: 5px;
}

  label {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
  }

  button.delete-btn {
    float: right;
     }

  .negative {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.income-container p, .expense-container p {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  box-shadow: -1px -1px 4px #bebebe inset;
  border-radius: 10px;
  line-height: 5px;
  text-align: center;
}

.t-text {
  width: 120px;
}

.amount {
  text-align: center;
  font-size: 1.5em
}

button#btn {
  background-color: #008029a8;
  color: white;
  padding: 10px;
  width: 400px;
  font-size: 20px;
}
